$primary-color: #007bff;
$hover-color: #006adb;
$white: #fff;

body {
  width: 100%;
}
header {
  #navbarSupportedContent {
    width: 90px;
    ul {
      margin: 0;
    }
  }
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#account-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $primary-color;
  width: 300px;

  margin: 0 auto;

  #account-btns {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
  }
  #login-btn,
  #signup-btn {
    background-color: $primary-color;
    color: $white;
    height: 40px;
    width: 160px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }
  #login-btn:hover,
  #signup-btn:hover {
    background-color: $hover-color;
    color: $white;
    height: 40px;
    width: 160px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    margin: 10px;
  }
}
.form {
  padding-top: 2rem;
  width: 30%;
  margin: 0 auto;
  input {
    width: 100%;
  }
  label {
  }
  select {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  textarea {
    width: 100%;
  }
  #button {
    width: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .form {
    width: 80%;
  }
}
