$primary-color: #007bff;
$hover-color: #006adb;
$white: #fff;

body {
  width: 100%;
}

#login-btn, #signup-btn{
  background-color: $primary-color;
  color: $white;
  height: 40px;
  width: 160px;
  outline: none;
  border: none;
  border-radius: 5px;
}
#login-btn:hover, #signup-btn:hover{
  background-color: $hover-color;
  color: $white;
  height: 40px;
  width: 160px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}